<!DOCTYPE html>
<html lang="en">

<head>
  <% - include ("../partials/head") %>
</head>

<body>
  </main>
  <div class="jumbotron">
    <h1>CAFE</h1>
    <p><%= tagline %></p>
  </div>

  <ul>
    <% drinks.forEach( drink => { %>
      <li><%= drink.name %> <%= drink.sweetness %></li>
    <% } ) %>
  </ul>
  </main>
</body>

</html>